:root {
    --bg-color: #ffffff;
    --text-color: #111827;
    --card-color: #f9fafb;
}

[data-theme='dark'] {
    --bg-color: #111827;
    --text-color: #f9fafb;
    --card-color: #1f2937;
}

body {
    margin: 0;

    background: var(--bg-color);
    color: var(--text-color);

    transition:
        background 0.3s,
        color 0.3s;
}